<nav class="navbar shadow-1 blue dark-5">
	<a href="#" target="_blank" class="navbar-brand">{{NameProject}}</a>
	<div class="navbar-menu mx-auto">
		<a class="navbar-link mx-5" href="#">Accueil</a>
		<a class="navbar-link mx-5" href="#">Articles</a>
		<a class="navbar-link mx-5" href="#">Sessions</a>
		<a class="navbar-link mx-5" href="#">Connexion</a>
		<a class="navbar-link mx-5" href="#">Inscription</a>
        <a class="navbar-link mx-5" href="#">Déconnexion</a>
	</div>
</nav>
