<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
	<div class="sidenav-header">
		<button data-target="example-sidenav" class="sidenav-trigger">
			<i class="fas fa-times"></i>
		</button>
		<img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo"/>
	</div>
	<a href="#" class="sidenav-link active">Link 1</a>
	<a href="#" class="sidenav-link">Link 2</a>
	<a href="#" class="sidenav-link">Link 3</a>
	<a href="#" class="sidenav-link">Link 4</a>
</div>
